 body{
 background: url("../imagen/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
 background-attachment: fixed;
 }
 a{
font: size 30px;
text-align: none;
margin: 20px;
background: #07687b;
padding: 15px;
display: inline-block;
color: blue;
box-shadow: 8px 8px 8px #83dace;
 }
 a:hover{
    box-shadow: 4px 4px 4px #7f09c8;
    background: #7e63f8;
    color: aqua;
 }
 a :active{
    box-shadow: none;
    background: #8d1111;
    color: #2b0642;
 }
div{
    width: 75%;
    background: #07687b;
    margin:25px ;
    padding: 5px;
    border: 5px solid #000000;
}
h1{
    color: rgb(95, 226, 43);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: rgb(127, 255, 148);
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: rgb(42, 165, 83);
    font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: rgb(0, 255, 98);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 350px;
    height:250px ;
margin:20px ;
align-items:center ;
border-radius: 35px;
border:15px double #07687b;
}
